<!DOCTYPE html>
<html lang="pt">
<header>
    <meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0">
    link( rel="stylesheet" href="stylesheets/dashboard.css")
    link(rel="stylesheet" href="stylesheets/painelControlo.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    <title>Painel de Controlo - RIDE-U</title>
     <div class="container">
    <nav>
      <ul>
        <li><a href="/dashboardcl" class="logo">
          <img src="images/logoride.jpg">
          span=user 
        </a></li>
        <li><a href="/painelControlo">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Dashboard</span>
        </a></li>
        <li><a href="/historicoViagens">
          <i class="fas fa-calendar-alt"></i>
          <span class="nav-item">Historico de Viagens</span>
        <li><a href="#">
          <i class="fas fa-user-alt"></i>
          <span class="nav-item">Perfil</span>
        </a></li>
        <li><a href="/perfilcon">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Definições</span>
        </a></li>
        <li><a href="/logout" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>


        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Viagens Realizadas</div>
                        div.number
                            p=virealizada
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">+3 desde ontem</span>
                        </div>
                    </div>
                    <i class='bx bx-cart-alt cart'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Estatuto</div>
                        div.number
                            p=estatuto 
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Ver vantagens</span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-add cart two'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Viagens nos ultimos 90 dias</div>
                        <div class="number">12,876</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">+3 desde ontem</span>
                        </div>
                    </div>
                    <i class='bx bx-cart cart three'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Avaliação</div>
                        div.number
                            p=mediaEstrelas
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text">-30 desde ontem</span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-download cart four'></i>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Viagens Realizadas</div>
                    <div class="sales-details">
                        ul.detalhes
                            <li class="topic">Data</li>                         
                            li=datahora
                            li=datahora2

                        </ul>
                        <ul class="detalhes">
                            <li class="topic">Ponto Recolha</li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                            <li><a href="#">Recolha de Plasticos</a></li>
                        </ul>
                        <ul class="detalhes">
                            <li class="topic">Ponto Destino</li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                            <li><a href="#">Entregue</a></li>
                        </ul>
                        <ul class="detalhes">
                            <li class="topic">Distancia</li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                        </ul>
                        <ul class="detalhes">
                            <li class="topic">Preço</li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">20</a></li>
                        </ul>
                    </div>
                    <div class="button">
                        <a href="#">Ver todos</a>
                    </div>
                </div>
                <div class="Leaderboard">
                    <div class="title">Avaliações Recebidas</div>
                    <ul class="top-sales-details">
                        <li>
                            <a href="#">
                                <img src="/images/boneco1.jpeg" alt="">
                                <span class="Utilizador">Zé Carlos</span>
                            </a>
                            <span class="pontos">150300</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco2.jpeg" alt="">
                                <span class="Utilizador">Ana Fonseca</span>
                            </a>
                            <span class="pontos">145000</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco3.jpeg" alt="">
                                <span class="Utilizador">Marina Sousa</span>
                            </a>
                            <span class="pontos">130320</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco4.jpeg" alt="">
                                <span class="Utilizador">José oliveira</span>
                            </a>
                            <span class="pontos">120320</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco5.jpeg" alt="">
                                <span class="Utilizador">Madalena Costa</span>
                            </a>
                            <span class="pontos">115320</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco1.jpeg" alt="">
                                <span class="Utilizador">José Vitor</span>
                            </a>
                            <span class="pontos">110320</span>
                        <li>
                            <a href="#">
                                <img src="/images/boneco2.jpeg" alt="">
                                <span class="Utilizador">Armando Viegas</span>
                            </a>
                            <span class="pontos">100320</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/images/boneco3.jpeg" alt="">
                                <span class="Utilizador">Joana Vilar</span>
                            </a>
                            <span class="pontos">9538</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </section><head>

</head>